<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cyberpunk.drive" version="2.1.0" xmlns="http://cordova.apache.org/ns/1.0">
    <name>Drive in Cyberpunk</name>
    <description>A premium high-speed cyberpunk neon arcade game.</description>
    <author email="dev@cyberpunk.com">Sufyan</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="BackgroundColor" value="0xff05050a" />
    
    <icon src="icon.png" />
</widget>
